<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'accounts/bootstrap.css' %}">
  {% block title %}
  {% endblock %}
</head>
<body>
 <div class="jumbotron">
   <h1 class="display-4"  style="text-align:center" >Onboarding Apps</h1>
   <div class="float-right">
     <a>Hello {{ request.user.username }}</a>
     <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'accounts:logout' %}">Logout</a>
   </div>
 </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>