{% extends 'bookmarks/folder_create_form.html' %}
 {% block folder_form %}
  <form method="post">
    {% csrf_token %}
    <i class="fas fa-folder" style="display:flex;justify-content:center;font-size:150px; padding:15px;"></i>
    <p>Are you sure you want to delete {{ object.name }}?</p>
    <div style="display:flex;justify-content:space-around;">
      <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Yes">
      <button class="btn btn-outline-success my-2 my-sm-0" form="form2">No</button>
    </div>
  </form>
{% endblock %}